<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311934038137-2e3kd187pmvtabbi8uptjhb9gcmdlim3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311934038137-2e3kd187pmvtabbi8uptjhb9gcmdlim3</string>
	<key>API_KEY</key>
	<string>AIzaSyBtsOwwXXiatmAlISWf6bKKKdsjriw56wI</string>
	<key>GCM_SENDER_ID</key>
	<string>311934038137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deah.com.getThingsDone</string>
	<key>PROJECT_ID</key>
	<string>get-things-done-52acc</string>
	<key>STORAGE_BUCKET</key>
	<string>get-things-done-52acc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311934038137:ios:a0f96d156b1c999b1de4a8</string>
</dict>
</plist>